Search: <input ng-model="query">
<div>
    Sortby:
    <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
    </select>
</div>

<ul class="phones">
    <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail phone-listing">
        <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
        <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
        <p>{{phone.snippet}}</p>
    </li>
</ul>

<!--<ul>-->
    <!--<li ng-repeat="phone in phones | filter:query | orderBy:orderProp">-->
        <!--<a href="#phones/{{phone.id}}"><img ng-src="{{phone.imageUrl}}"></a>-->
        <!--<a href="#phones/{{phone.id}}">{{phone.name}}</a>-->

        <!--<p>{{phone.snippet}}</p>-->
    <!--</li>-->
<!--</ul>-->