<style>
    .phone-thumbs img{
        width:100px;
    }
    .phone-banner {
        width:200px;
    }
    
    .specs li{
        border-bottom: 1px solid #ccc;
        margin-top: 5px;
    }
</style>
<!--<img class="phone-banner" ng-src="{{phone.images[0]}}" class="phone">-->
<img ng-src="{{mainImageUrl}}" class="phone">
<h1>{{phone.name}}</h1>

<p>{{phone.description}}</p>

    <a class="phone-thumbs" ng-repeat="img in phone.images">
        <img ng-src="{{img}}" ng-click="setImage(img)">
    </a>

<ul class="specs">
    <li>
        <span>Availability and Networks</span>
        <dl>
            <dt>Availability</dt>
            <dd ng-repeat="availability in phone.availability">{{availability}}</dd>
        </dl>
    </li>
    
    <li>
        <dl>
            <dt>Infrared</dt>
            <dd>{{phone.connectivity.infrared | checkmark}}</dd>
            <dt>GPS</dt>
            <dd>{{phone.connectivity.gps | checkmark}}</dd>
        </dl>
    </li>
    <li>
        <span>Additional Features</span>
        <dd>{{phone.additionalFeatures}}</dd>
    </li>
</ul>